 
 
h3{ font-family: ZCOOL KuaiLe, cursive;
  font-size: 50px;
  text-align: center;
  text-shadow: 5px 3px rgb(73, 31, 170);

}   

img{
  width: 40px;
}



table {

  margin:auto;
  margin-top: 30px;
   
   
  

} 

td {
  border: 2px solid rgb(26, 8, 104);
  width: 70px; height: 50px;
  font-size: 30px;
      
  text-align: center;
  vertical-align: middle;
} 

#startButton{
  text-align: center;
  justify-content: center;

}


.btn1-circle.btn {

  margin-right:20px; 
  width: 120px;
  height: 70px;
  font-size: 20px;  
  font-weight: bold;
  text-shadow: 0 1px 0 rgb(182, 38, 38);
  border-radius: 35px;

  padding: 5px 10px;
  border: 1px solid rgb(167, 16, 16);
  box-shadow:0px 0px 10px rgb(0, 7, 14);
  -webkit-animation-name: clignote;  
  -webkit-animation-duration: 1s;  
  -webkit-animation-iteration-count:infinite;  
  }


@-webkit-keyframes clignote {
  0%{box-shadow:0px 0px 10px rgb(18, 67, 116);}
  50%{box-shadow:0px 0px 0px rgb(1, 11, 22);}
  100%{box-shadow:0px 0px 10px rgb(2, 25, 48);}
  }   

.btn2-circle.btn { 
  text-align: center;
  width: 120px;
  height: 70px;
  font-size: 20px;
  border-radius: 35px;

  font-weight: bold;
  text-shadow: 0 1px 0 rgb(182, 38, 38);
  border-radius: 35px;
  padding: 5px 10px;
  border: 1px solid rgb(167, 16, 16);
  box-shadow:0px 0px 10px rgb(0, 7, 14);
  -webkit-animation-name: clignote;  
  -webkit-animation-duration: 1s;  
  -webkit-animation-iteration-count:infinite;  
  }


  @-webkit-keyframes clignote {
  0%{box-shadow:0px 0px 10px rgb(18, 67, 116);}
  50%{box-shadow:0px 0px 0px rgb(1, 11, 22);}
  100%{box-shadow:0px 0px 10px rgb(2, 25, 48);}
  }   



.btn3-circle.btn {
  text-align: center;
  width: 120px;
  height: 70px;
  font-size: 20px;
  border-radius: 35px;

  font-weight: bold;
  text-shadow: 0 1px 0 rgb(182, 38, 38);
  border-radius: 35px;
  padding: 5px 10px;
  border: 1px solid rgb(167, 16, 16);
  box-shadow:0px 0px 10px rgb(0, 7, 14);
  -webkit-animation-name: clignote;  
  -webkit-animation-duration: 1s;  
  -webkit-animation-iteration-count:infinite;  
  }


  @-webkit-keyframes clignote {
  0%{box-shadow:0px 0px 10px rgb(18, 67, 116);}
  50%{box-shadow:0px 0px 0px rgb(1, 11, 22);}
  100%{box-shadow:0px 0px 10px rgb(2, 25, 48);}
  }   

  .row{
    justify-content: center;
    
   
 }

button{
  margin-right: 15px;
  margin-left: 15px;
   
}

h1
  { font-family: ZCOOL KuaiLe, cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 3px rgb(73, 31, 170);
}
   
  
   
  
